name: CI - Scan with Bandit

on: [push]

jobs:
  sast-scan-with-bandit:
    name: Run Bandit Scan
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install Bandit
      run: pip install bandit

    - name: Run Bandit Scan
      run: bandit --exit-zero --severity-level=medium --confidence-level=medium --format=json --output=bandit-report.json -r .
      
    - name: Upload Scan Report
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: bandit-findings
        path: bandit-report.json

  docker-build-and-image-scan:
    name: Build Image and Run Image Scan
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Docker Setup
      uses: docker-practice/actions-setup-docker@v1
      with:
        docker_version: "29.2"

    - name: Build Image
      run: docker build -t local/pygoat:latest -f Dockerfile .

    - name: Scout Image Scan
      run: |
        curl -fsSL https://raw.githubusercontent.com/docker/scout-cli/main/install.sh -o install-scout.sh
        sh install-scout.sh
        docker scout quickview
        docker scout cves
    
