name: CI - Scan with Bandit

on: [push]

jobs:
  sast-scan-with-bandit:
    name: Run Bandit Scan
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install Bandit
      run: pip install bandit

    - name: Run Bandit Scan
      run: bandit --exit-zero --severity-level=medium --confidence-level=medium --format=json --output=bandit-report.json -r .
      
    - name: Upload Scan Report
      uses: actions/upload-artifact@v3
      if: always()
      with:
        name: bandit-findings
        path: bandit-report.json
